*, 
*:before, 
*:after {
box-sizing: border-box !important;
}

html, 
body { 
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}
body {
    margin-top: 72px;
}
main {}

footer {
position: fixed;
right: 0;
bottom: 0;
left: 0;
background-color: #343A40;
border-top: 6px solid #222;
display: flex;
align-items: center;
justify-content: center;
}

footer p {
color: #fff;
margin: 0;
}

h1 {
color: #222;
font-weight: bold;
width: 100%;
text-align: left;
border-bottom: 2px solid #222;
}

img {
width: 100%;
height: auto;
max-width: 350px;
}

.container {
background-color: white;
}

.about-me {}

.about-me .profile-thumb {
float: left;
clear: left;
padding: 0 16px 16px 0;
max-width: 200px;
}

.about-me .description {

}

.sidebar {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #ddd;
    background: #fff;
    margin-top: 15px;
}
.social, h3, h2 {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}
.social-head {
    border-bottom: 3px solid #eee;
}